
.centercontent{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
 }
ion-list{
    padding: 0px 10px;
}

 
.shopitemcol{  
    padding: 3px; 
    ion-item{
        width:100%;
    }
}

.shopitem{
    // margin :  12px auto ;
    display: inline-flex;
    width  :  100%; 
    --padding-start: 9px;
    --padding-end: 9px;
    --inner-padding-end: 5px; 
    color: var(--ion-color-white) p, h3;
    background: var(--ion-color-light);
    --border-radius: 3px;
    border-radius: 33px;
    --padding-top: 3px;
    --padding-bottom: 3px;
    p,h3{
        color:var(--ion-color-dark);
        text-align: left ;
    }

    p{
        color: var(--ion-color-dark-shade);
        white-space: nowrap;
    }
    h3{
        font-weight: bold;
    }
    ion-label{ 
        padding: 6px 0px ;
        margin: 0px; 
        .dist{
            font-size: 0.6em;
        }
        .descr{
            font-size: 0.7em;
            color: #57A3D7;
             
        }
    }

    ion-button{
        --background:orange
    }
}
@media (orientation: portrait) {
    .shopitem{
        --padding-end: 13px;
        --inner-padding-end: 0px;
        --padding-start: 0px;
        --inner-padding-start: 0px;
    }
}