<ion-header>
  <ion-toolbar>
    <ion-title>
      Shopping Cart
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="center-content">
  <ion-list *ngIf="itemsInCart.length > 0; else emptyCart">
    <ion-item *ngFor="let item of itemsInCart" class="responsive-item">
     <div class="spacer">
      
     </div>
      <div class="product-details">
        <!-- Adjusted styling for the shop name -->
        <h2 class="shop-name">{{ item.shopName || 'Kombani Electronics' }}</h2> <!-- Use placeholder if shopName is not provided -->
    
        <div class="flex-container">

          

          <div class="rounded-image-container">
            <ion-thumbnail slot="start">
              <img [src]="item.image" alt="Product Image" class="rounded-image">
            </ion-thumbnail>
          </div>

          <ion-label class="product-info">
            <h2 class="product-name">{{ item.productName }}</h2>
            <h3 class="product-price">{{ 200 | currency }}</h3>
          </ion-label>


          <div class="quantity-container">
            <button (click)="decrementQuantity(item)" class="quantity-button">-</button>
            <input type="number" [(ngModel)]="item.quantity" class="quantity-input" (input)="updateQuantity(item)">
            <button (click)="incrementQuantity(item)" class="quantity-button">+</button>
          </div>
  
          <ion-buttons class="del-cont" slot="end">
            <ion-button color="danger" fill="clear" (click)="removeFromCart(item)" class="remove-button">
              <ion-icon name="trash" /> Remove
            </ion-button>
          </ion-buttons>

        </div>
        
       

      

        
      </div>
    </ion-item>

    <ion-item>
      <ion-label class="subtotal-label center-text">Sub-Total:</ion-label>
      <ion-label class="subtotal-value">{{ calculateCartSubtotal() | currency: 'Ksh' }}</ion-label>
    </ion-item>
    

    <ion-button expand="block" color="warning" (click)="confirmCheckout()" class="checkout-button">Checkout</ion-button>

  </ion-list>

  
</ion-content>

<ng-template #emptyCart>
  <img src="https://www.jumia.co.ke/assets_he/images/cart.668e6453.svg" alt="Empty Cart Image" style="width: 150px; height: 150px;">
  <div class="empty-cart-message">Your shopping cart is empty!</div>
  <div class="empty-cart-text">Start shopping now for amazing deals!</div>
  <a href="/home" class="start-shopping-btn">Start Shopping</a>
</ng-template>
